body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline;
}

.large-page {
    width: 50%;
    margin-left: 25%;
    margin-top: 2em;
}

.logo-akema-size {
    height: 2.8em;
}

.menu-appearance {
    height: 2.8em;
}

.menu-element {
    padding: 0 1em;
    margin: 1em 0;
    height: 2.8em;
    line-height: 2.8em;
    text-align: center;
    color: #178AF0;
    transition: 2s ease;
}

.menu-element:hover {
    color: #082E50;
    transition: 1s ease;
}